snippet #!
	#!/usr/bin/env python3

snippet argparser
	import argparse

	def main(args):
			print(f"Hello, {args.name}!")

	if __name__ == "__main__":
			parser = argparse.ArgumentParser(description='My CLI utility')
			parser.add_argument('-n', '--name', type=str, default="World", help='Name to greet')
			args = parser.parse_args()
			main(args)
