snippet #!
	#!/usr/bin/env python3

snippet argparser
	import argparse


	def main(args):
			print(f"Hello, {args.input}!")


	if __name__ == "__main__":
			parser = argparse.ArgumentParser(description="NSP Extractor")
			parser.add_argument("-i", "--input", type=str, help="NSP file")
			args = parser.parse_args()
			main(args)
