[Desktop Entry]
Type=Application
Name=wiki
Comment=Open wiki in neovim
Icon=utilities-terminal
Terminal=true
Exec=nvim '+colorscheme darkplus' /mnt/data/wiki/index.md
Path=/mnt/data/wiki
Categories=ConsoleOnly;System;FileTools;FileManager
MimeType=inode/directory;
