packages = [
  "bin",
  "dotter",
  "gitui",
  "alacritty",
  "bash",
  "default",
  "helix",
  "kitty",
  "lf",
  "nvim",
  "skhd",
  "zsh",
]

[variables]
colorscheme = "catppuccin"
zk_path = "~/workspaces/notes"
