packages = [
	"dotter",
	"bin",
  "alacritty",
  "bash",
  "default",
  "helix",
  "kitty",
  "lf",
  "nvim",
  "skhd",
  "zsh",
]

[variables]
colorscheme = "nightfly"
zk_path = "~/workspaces/notes"
